.btn {
  position: relative;
  display: inline-block;
  padding: 8px 24px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: $radius-100;
  background-color: $btn-backgroundColor;
  font-weight: 600;
  color: $btn-color;
  margin: 0 5px 0 0;
  text-decoration: none;
  outline: none;
  border: none;
  font-size: pxToPr(12px, "em", $basicFontSize);
  letter-spacing: 0;
  transition: 350ms ease-in-out;
  text-transform: uppercase;
  line-height: 1.3;
  text-align: center;
}
.btn:hover {
  background-color: $btn-hover-backgroundColor;
}
.btn--primary {
  border: none;
}
.btn--primary,
.btn--primary:focus,
.btn--primary:active {
  background-color: $btnPrimary-backgroundColor;
}

.btn--small {
  font-size: pxToPr(12px, "em", $basicFontSize);
  padding: 8px 15px;
}
.btn--medium {
  font-size: 1em;
  padding: 8px 25px;
}
.btn--large {
  width: 100%;
  font-size: pxToPr(16px, "em", $basicFontSize);
  line-height: pxToPr(30px, "em", $basicFontSize);
}
.btn--col {
  line-height: 1.4;
  padding: 8px 20px;
  text-align: center;
  margin-top: 8px;
  text-transform: uppercase;
}
.btn--disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.3;
}

.coming-soon {
  background-color: $comingSoon-backgroundColor;
  pointer-events: none;
  position: relative;
}
.coming-soon:after {
  content: "COMING SOON!";
  position: absolute;
  background: $comingSoon-after-backgroundColor;
  color: $comingSoon-after-color;
  font-size: 7px;
  font-weight: 100;
  padding: 3px 4px;
  line-height: 1;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  white-space: nowrap;
  transform: rotate(-8deg) translateX(-50%);
}

p.strong {
  font-weight: 700;
}

p.description {
  text-align: center;
  margin: 1.5em 0;
  word-break: break-all;
}

.toggle-group--is-expand > header {
  position: relative;
  cursor: pointer;
}
.toggle-group--is-expand > header:before,
.toggle-group--is-expand > header:after {
  content: "";
  position: absolute;
  right: 1.7em;
  top: 50%;
  transform: translateY(-50%) translateX(50%) rotate(45deg);
  width: 1px;
  height: 10px;
  background-color: currentColor;
  z-index: 1;
  pointer-events: none;
}
.toggle-group--is-expand > header:after {
  transform: translateY(-50%) translateX(-50%) rotate(-45deg);
  margin-right: 6px;
}
.toggle-group--is-expand > header.is-open {
  margin-bottom: 0;
}
.toggle-group--is-expand > header.is-open:before {
  transform: translateY(-50%) translateX(50%) rotate(-45deg);
}
.toggle-group--is-expand > header.is-open:after {
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
}
.toggle-group--is-collapsed {
  display: none;
}

.push-right {
  float: right;
  text-align: right;
}

.custom-dropdown-select {
  position: relative;
}

.custom-dropdown-select-hide-mobile {
  display: none;
}

@media screen and (min-width: 768px) {
  .custom-dropdown-select-hide-mobile {display: block;}
}

.custom-dropdown-select .Select-input {
  width: 100%;
}
.custom-dropdown-select .Select-input input {
  width: 100% !important;
  box-sizing: border-box !important;
}
.custom-dropdown-select .Select-placeholder,
.custom-dropdown-select .Select-value {
  position: absolute;
  top: 0;
  right: 2em;
  left: 1em;
  pointer-events: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
}
.custom-dropdown-select .Select-control {
  position: relative;
}
.custom-dropdown-select .Select:before,
.custom-dropdown-select .Select:after {
  z-index: 1;
  pointer-events: none;
}
.custom-dropdown-select .Select-placeholder,
.custom-dropdown-select .Select-value-label {
  line-height: 40px;
}
.custom-dropdown-select .Select-placeholder,
.custom-dropdown-select .Select-value,
.custom-dropdown-select .Select-option {
  vertical-align: middle;
}
.custom-dropdown-select .Select-menu-outer {
  position: absolute;
  background-color: $customDropdownSelect-selectMenuOuter-backgroundColor;
  z-index: 5;
  max-height: 320px;
  margin-top: -1px;
  min-width: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 10px 20px 0 $customDropdownSelect-selectMenuOuter-boxShadowColor;
}
.custom-dropdown-select .Select-arrow:before,
.custom-dropdown-select .Select-arrow:after {
  content: "";
  display: block;
  position: absolute;
  right: 1em;
  top: 1.42em;
  transform: translateY(-50%) translateX(50%) rotate(45deg);
  width: 1px;
  height: 10px;
  border-radius: 0;
  background-color: $customDropdownSelect-selectArrow-before-backgroundColor;
  z-index: 1;
  pointer-events: none;
}
.custom-dropdown-select .Select-arrow:after {
  transform: translateY(-50%) translateX(-50%) rotate(-45deg);
  margin-right: 6px;
}
.custom-dropdown-select.is-open .Select-arrow:before {
  transform: translateY(-50%) translateX(50%) rotate(-45deg);
}
.custom-dropdown-select.is-open .Select-arrow:after {
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
}
.custom-dropdown-select .Select-option {
  position: relative;
  font-weight: 400;
  line-height: 40px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
  font-size: 10px;
}
.custom-dropdown-select .Select-option:hover {
  background-color: $customDropdownSelect-selectOption-hover-backgroundColor;
}
.custom-dropdown-select .Select-option .icon {
  position: absolute;
  right: 10px;
  font-size: 1.2em;
}
.custom-dropdown-select .Select-noresults {
  padding: 3px 0;
  font-size: 0.9em;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  opacity: 0.9;
}

.event-navigation {
  padding: 10px;
  color: $eventNavigation-color;
  background-color: $eventNavigation-backgroundColor;
  font-size: pxToPr(12px, "em", $basicFontSize);
  border-bottom: 1px solid $dark-grey;
}
@media (max-width: $bp-mobile) {
  .event-navigation .col-4 {
    width: 100%;
    margin-bottom: 10px;
  }
  .event-navigation .col-4:last-child {
    margin-bottom: 0;
  }
}


.message {
  position: relative;
  padding-left: 24px;
  line-height: 1.6;
  margin-bottom: 10px;
}
.message .icon {
  position: absolute;
  top: 0;
  left: 0;
  color: $message-icon-color;
  font-size: 16px;
}
