UNIVERSE=skycity
OPERATOR=skycity
DISABLE_CACHE_PROXY=true
HTTP_INTERFACE=0.0.0.0
HTTP_PORT=3030
API_URL=https://<namespace>-sandbox.skycityhub.com
API_USERNAME=website
API_PASSWORD=<password>
CASHOUT_WEBSOCKET_HOST=https://cashout-push-<namespace>.sandbox.skycityhub.com
WEBSOCKET_HOST=
LOG_FORMAT=pretty
LOG_LEVEL=debug
# LOG_CONFIGS is an optional config for logging parsed configs on frontent-api side
# LOG_CONFIGS=false
# LOG_API_REQUESTS_AS_CURL is an optional config for logging each API request in curl format on frontent-api side
# LOG_API_REQUESTS_AS_CURL=true
IMG_API_URL=
# cache-manager
# inmemory | redis
REDIS_STORE_TYPE=inmemory
STANDALONE=false
#SITE_THEME=blue
FEATURE_TOGGLING_PROXY_URI=https://unleash-proxy-<namespace>-sandbox.skycityhub.com
FEATURE_TOGGLING_PROXY_TOKEN=proxy:web.9980f0ba7bc8b4cd6b078a3a0d80bab247fd61ec3a59844c0fb07440
FEATURE_TOGGLING_CLIENT_API_URI=https://unleash-<namespace>-sandbox.skycityhub.com/api
FEATURE_TOGGLING_CLIENT_API_TOKEN=*:skycity.9980f0ba7bc8b4cd6b078a3a0d80bab247fd61ec3a59844c0fb07440
#optional language cache in minutes
#TRANSLATIONS_CACHE_TTL = 10

#optional max per page in requests /operator-events/$universe: /search, /search/with-market-index, /search/website-main, default is 150
# API_REQUEST_SEARCH_EVENTS_PER_PAGE_MAX_SIZE = 151
