<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Sportsbook - Maintenance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16"
          href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGgSURBVHgBnVM9SwNBFJy9j1XPIBHBzyZqodhopwhC0ohdgv/AHyBaCVaaytLYWFtqp6VVIkiwTGOhFgYljSKoxJBcuJzzYhJiEI0Z2Nu95c2893ZnFVoQCATCnKJKqRjnkOxxnfF9P1Mul+PFYjHbHK/qiyBRqVR2GLiJX0CxhGEY8VeiIVAjJ0meQxuQiigSERFTNrTWeyTH0D6GObpLpdK5YvKQ53n36ABMGjFt297nuq3Sf8CbJX2zp+qf4/s4dF2ori4W2I0JztqysLy0jlxgECo4Aj84hJ6TLZh3l3IWUYufRvZpjl6SslrjgmLbFHnsHUDON6BvUkBPX3UIuYaQ1VzPvFRB8jUrmqHQqOMg3TcI6+kW6v0ZcD+gXh6+9SACWdQMM2swk21jleQxkkUsrYPwhqbgTS7yvkehM2cNslynovMSXGygMxyJQJgCSXQAWnvcdF2XZ6b7KbLwHzJv76BQKBxXneg4zhWnFXw57E9I76ZprvFhFQ3ZEE+Lt0W1ncz1d1AVaw2oWXuXgbNNHsnyX47/NJ/Pp5rjPwEwSZgY4DQUIQAAAABJRU5ErkJggg=="/>
    <style>
        body {
            font-family: 'Noto', Arial, Helvetica, sans-serif;
            margin: 0;
            background: #090C1B;
            display: flex;
            height: 100vh;
            justify-content: center;
            align-items: center;
        }

        .container {
            text-align: center;
            color: #cad6e7;
        }
    </style>
</head>

<body>
<section class="container">
    <h2 style="margin: 25px 0 15px; font-size: 32px; font-weight: 700;">
        Sportsbook is currently unavailable.
    </h2>
    <h3 style="margin: 25px 0 15px; font-size: 24px; font-weight: 400; opacity: 0.7;">
        We will be back shortly. <br>
        Thank you for your patience.
    </h3>
</section>
</body>

</html>
