[class*=" theme-"]:before,[class^=theme]:before{font-family:'themeicons';speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;display:inline-block;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}

.theme-icon-bettingrules:before {
  content: "\e90b";
}
.theme-icon-livescore:before {
  content: "\e90c";
}
.theme-icon-bettingrules1:before {
  content: "\e90d";
}
.theme-icon-livescore1:before {
  content: "\e90e";
}
.theme-TVSPECIALS:before {
  content: "\e901";
}
.theme-speedscating:before {
  content: "\e902";
}
.theme-specials:before {
  content: "\e903";
}
.theme-skiing:before {
  content: "\e904";
}
.theme-politics:before {
  content: "\e905";
}
.theme-tournaments:before {
  content: "\e906";
}
.theme-futsal:before {
  content: "\e907";
}
.theme-formula1:before {
  content: "\e908";
}
.theme-beach_handball:before {
  content: "\e909";
}
.theme-badminton:before {
  content: "\e90a";
}
.theme-cross1:before {
  content: "\e900";
}
.theme-1-partytime:before {
  content: "\ea01";
}
.theme-2-partytime:before {
  content: "\ea02";
}
.theme-account:before {
  content: "\ea03";
}
.theme-add-betslip:before {
  content: "\ea04";
}
.theme-add:before {
  content: "\ea05";
}
.theme-age-eighteen:before {
  content: "\ea06";
}
.theme-age-twentyone:before {
  content: "\ea07";
}
.theme-age:before {
  content: "\ea08";
}
.theme-alert-deselected:before {
  content: "\ea09";
}
.theme-alert-selected:before {
  content: "\ea0a";
}
.theme-alerts-deselected:before {
  content: "\ea0b";
}
.theme-alerts-selected:before {
  content: "\ea0c";
}
.theme-allgames:before {
  content: "\ea0d";
}
.theme-android:before {
  content: "\ea0e";
}
.theme-apple:before {
  content: "\ea0f";
}
.theme-arrow-down:before {
  content: "\ea10";
}
.theme-arrow-left:before {
  content: "\ea11";
}
.theme-arrow-right:before {
  content: "\ea12";
}
.theme-attention:before {
  content: "\ea13";
}
.theme-avatar:before {
  content: "\ea14";
}
.theme-b-exclusive:before {
  content: "\ea15";
}
.theme-badge:before {
  content: "\ea16";
}
.theme-bank:before {
  content: "\ea17";
}
.theme-baseball-indicator:before {
  content: "\ea18";
}
.theme-betslip-i:before {
  content: "\ea19";
}
.theme-betslip:before {
  content: "\ea1a";
}
.theme-betting-line:before {
  content: "\ea1b";
}
.theme-bin:before {
  content: "\ea1c";
}
.theme-bingo-1-tg:before {
  content: "\ea1d";
}
.theme-bingo-2-tg:before {
  content: "\ea1e";
}
.theme-bingo-badge:before {
  content: "\ea1f";
}
.theme-bingo-games-cta:before {
  content: "\ea20";
}
.theme-bingo-games-nav:before {
  content: "\ea21";
}
.theme-bingo-heart:before {
  content: "\ea22";
}
.theme-bingo-hot-ball:before {
  content: "\ea23";
}
.theme-bingo-profile:before {
  content: "\eb3f";
}
.theme-bingo-profile1:before {
  content: "\ea24";
}
.theme-bingo-roll-on:before {
  content: "\ea25";
}
.theme-bingo-star:before {
  content: "\ea26";
}
.theme-bingo-ticket:before {
  content: "\ea27";
}
.theme-bingo-trophy:before {
  content: "\ea28";
}
.theme-bingo:before {
  content: "\ea29";
}
.theme-bonus-history:before {
  content: "\ea2a";
}
.theme-bonus-i:before {
  content: "\ea2b";
}
.theme-bonus:before {
  content: "\ea2c";
}
.theme-bspinwheel:before {
  content: "\ea2e";
}
.theme-calendar:before {
  content: "\ea2f";
}
.theme-carnival:before {
  content: "\ea30";
}
.theme-cash-race:before {
  content: "\ea31";
}
.theme-cashback:before {
  content: "\ea32";
}
.theme-cashier-open:before {
  content: "\ea33";
}
.theme-cashier:before {
  content: "\ea34";
}
.theme-check:before {
  content: "\ea39";
}
.theme-checkbox-off-i:before {
  content: "\ea3a";
}
.theme-checkbox-off:before {
  content: "\ea3b";
}
.theme-checkbox-on-i:before {
  content: "\ea3c";
}
.theme-checkbox-on:before {
  content: "\ea3d";
}
.theme-clock-solid:before {
  content: "\ea3e";
}
.theme-clock:before {
  content: "\ea3f";
}
.theme-close-i:before {
  content: "\ea40";
}
.theme-close:before {
  content: "\ea41";
}
.theme-coinflip:before {
  content: "\ea42";
}
.theme-competitions-all:before {
  content: "\ea43";
}
.theme-competitions:before {
  content: "\ea44";
}
.theme-contact:before {
  content: "\ea45";
}
.theme-copy-clipboard:before {
  content: "\ea46";
}
.theme-coupon:before {
  content: "\ea47";
}
.theme-coupons-all:before {
  content: "\ea48";
}
.theme-coupons-bothteamstoscore:before {
  content: "\ea49";
}
.theme-coupons-doublechance:before {
  content: "\ea4a";
}
.theme-coupons-livestreaming:before {
  content: "\ea4b";
}
.theme-coupons-numberofgoals:before {
  content: "\ea4c";
}
.theme-coupons-overunder:before {
  content: "\ea4d";
}
.theme-coupons-tennismen:before {
  content: "\ea4e";
}
.theme-coupons-tennismen1:before {
  content: "\ea4f";
}
.theme-coupons-tenniswomen:before {
  content: "\ea50";
}
.theme-coupons-tenniswomen1:before {
  content: "\ea51";
}
.theme-coupons-theodds:before {
  content: "\ea52";
}
.theme-coupons-theodds2:before {
  content: "\ea53";
}
.theme-coupons-theodds3:before {
  content: "\ea54";
}
.theme-coupons-theodds4:before {
  content: "\ea55";
}
.theme-curved-arrow-right:before {
  content: "\ea56";
}
.theme-cycling:before {
  content: "\ea57";
}
.theme-delete-i:before {
  content: "\ea58";
}
.theme-delete:before {
  content: "\ea59";
}
.theme-desktop:before {
  content: "\ea5a";
}
.theme-diamondstar:before {
  content: "\ea5b";
}
.theme-document:before {
  content: "\ea5c";
}
.theme-down:before {
  content: "\ea5d";
}
.theme-download:before {
  content: "\ea5e";
}
.theme-dragons:before {
  content: "\ea5f";
}
.theme-easter:before {
  content: "\ea60";
}
.theme-edit-bet:before {
  content: "\ea61";
}
.theme-edit:before {
  content: "\ea62";
}
.theme-email-i:before {
  content: "\ea63";
}
.theme-email:before {
  content: "\ea64";
}
.theme-envelope:before {
  content: "\ea65";
}
.theme-error-i:before {
  content: "\ea66";
}
.theme-error:before {
  content: "\ea67";
}
.theme-ew:before {
  content: "\ea68";
}
.theme-ex:before {
  content: "\ea69";
}
.theme-exclusive:before {
  content: "\ea6a";
}
.theme-facebook-i:before {
  content: "\ea6b";
}
.theme-facebook:before {
  content: "\ea6c";
}
.theme-faq:before {
  content: "\ea6d";
}
.theme-favorite-i:before {
  content: "\ea6e";
}
.theme-favorite:before {
  content: "\ea6f";
}
.theme-feed-i:before {
  content: "\ea70";
}
.theme-feed:before {
  content: "\ea71";
}
.theme-filters:before {
  content: "\ea72";
}
.theme-fingerprint:before {
  content: "\ea73";
}
.theme-free-spins:before {
  content: "\ea74";
}
.theme-freebet-i:before {
  content: "\ea75";
}
.theme-freebet:before {
  content: "\ea76";
}
.theme-fullscreen-exit:before {
  content: "\ea77";
}
.theme-fullscreen:before {
  content: "\ea78";
}
.theme-gameslog:before {
  content: "\ea79";
}
.theme-globe:before {
  content: "\ea7a";
}
.theme-google-plus-i:before {
  content: "\ea7b";
}
.theme-google-plus:before {
  content: "\ea7c";
}
.theme-greyhound:before {
  content: "\ea7d";
}
.theme-guia:before {
  content: "\ea7e";
}
.theme-halloween:before {
  content: "\ea7f";
}
.theme-handhsake:before {
  content: "\ea80";
}
.theme-handle-flipped:before {
  content: "\ea81";
}
.theme-handle:before {
  content: "\ea82";
}
.theme-hashtag:before {
  content: "\ea83";
}
.theme-heart-outline:before {
  content: "\ea84";
}
.theme-heart-solid:before {
  content: "\ea85";
}
.theme-heavyweight:before {
  content: "\ea86";
}
.theme-heavyweight1:before {
  content: "\ea87";
}
.theme-help-contact:before {
  content: "\ea88";
}
.theme-help-menu:before {
  content: "\ea89";
}
.theme-hide-password:before {
  content: "\ea8a";
}
.theme-home-3:before {
  content: "\ea8b";
}
.theme-home-i:before {
  content: "\ea8c";
}
.theme-home:before {
  content: "\ea8d";
}
.theme-home2:before {
  content: "\ea8e";
}
.theme-horses:before {
  content: "\ea8f";
}
.theme-howto:before {
  content: "\ea90";
}
.theme-icon-losses:before {
  content: "\ea91";
}
.theme-icon-vip:before {
  content: "\ea92";
}
.theme-icon-winnings:before {
  content: "\ea93";
}
.theme-icons-time:before {
  content: "\ea94";
}
.theme-id:before {
  content: "\ea95";
}
.theme-imprint:before {
  content: "\ea96";
}
.theme-inbox:before {
  content: "\ea97";
}
.theme-info-i:before {
  content: "\ea98";
}
.theme-info:before {
  content: "\ea99";
}
.theme-instagram:before {
  content: "\ea9a";
}
.theme-instant-win:before {
  content: "\ea9b";
}
.theme-insurance:before {
  content: "\ea9c";
}
.theme-irish:before {
  content: "\ea9d";
}
.theme-jackpotslots:before {
  content: "\ea9e";
}
.theme-jackpotwin:before {
  content: "\ea9f";
}
.theme-key:before {
  content: "\eaa0";
}
.theme-language:before {
  content: "\eaa1";
}
.theme-left:before {
  content: "\eaa2";
}
.theme-less-details:before {
  content: "\eaa3";
}
.theme-link:before {
  content: "\eaa4";
}
.theme-live-lotto:before {
  content: "\eaa5";
}
.theme-live:before {
  content: "\eaa6";
}
.theme-location-pin:before {
  content: "\eab4";
}
.theme-locked-i:before {
  content: "\eab5";
}
.theme-locked:before {
  content: "\eab6";
}
.theme-logout:before {
  content: "\eab7";
}
.theme-mail-open:before {
  content: "\eab8";
}
.theme-melon-madness:before {
  content: "\eab9";
}
.theme-menu:before {
  content: "\eaba";
}
.theme-merkur:before {
  content: "\eabb";
}
.theme-message:before {
  content: "\eabc";
}
.theme-minigames:before {
  content: "\eabd";
}
.theme-minus-circle:before {
  content: "\eabe";
}
.theme-minus:before {
  content: "\eabf";
}
.theme-mobile:before {
  content: "\eac0";
}
.theme-more-details:before {
  content: "\eac1";
}
.theme-more-dots:before {
  content: "\eac2";
}
.theme-move-down:before {
  content: "\eac3";
}
.theme-move-left:before {
  content: "\eac4";
}
.theme-move-right:before {
  content: "\eac5";
}
.theme-move-up:before {
  content: "\eac6";
}
.theme-movies:before {
  content: "\eac7";
}
.theme-multi:before {
  content: "\eac8";
}
.theme-my-balance:before {
  content: "\eac9";
}
.theme-mybets-i:before {
  content: "\eaca";
}
.theme-mybets:before {
  content: "\eacb";
}
.theme-mybonuses:before {
  content: "\eacc";
}
.theme-mystery-cash-race:before {
  content: "\eacd";
}
.theme-mythology:before {
  content: "\eace";
}
.theme-nav-more:before {
  content: "\eacf";
}
.theme-netent:before {
  content: "\ead0";
}
.theme-new:before {
  content: "\ead1";
}
.theme-newgames:before {
  content: "\ead2";
}
.theme-next-btn:before {
  content: "\ead3";
}
.theme-not-available-i:before {
  content: "\ead4";
}
.theme-not-available:before {
  content: "\ead5";
}
.theme-novamatic:before {
  content: "\ead6";
}
.theme-november-rocks:before {
  content: "\ead7";
}
.theme-octoberfest:before {
  content: "\ead8";
}
.theme-palinsesto:before {
  content: "\ead9";
}
.theme-pause:before {
  content: "\eada";
}
.theme-paypal:before {
  content: "\eadb";
}
.theme-personal-details:before {
  content: "\eadc";
}
.theme-pin-pinned:before {
  content: "\eadd";
}
.theme-pin-unpinned:before {
  content: "\eade";
}
.theme-pinterest:before {
  content: "\eadf";
}
.theme-play-solid:before {
  content: "\eae0";
}
.theme-playbutton-no-outline:before {
  content: "\eae1";
}
.theme-playbutton:before {
  content: "\eae2";
}
.theme-playclub:before {
  content: "\eae3";
}
.theme-plus-circle:before {
  content: "\eae4";
}
.theme-plus:before {
  content: "\eae5";
}
.theme-poker:before {
  content: "\eae6";
}
.theme-poker2:before {
  content: "\eae7";
}
.theme-pop-out:before {
  content: "\eae8";
}
.theme-positive:before {
  content: "\eae9";
}
.theme-post:before {
  content: "\eaea";
}
.theme-prebuy-blk:before {
  content: "\eaeb";
}
.theme-prebuy:before {
  content: "\eaec";
}
.theme-preferences:before {
  content: "\eaed";
}
.theme-premiumplay:before {
  content: "\eaee";
}
.theme-present:before {
  content: "\eaef";
}
.theme-priority-phone-number-icon:before {
  content: "\eaf0";
}
.theme-pyramids:before {
  content: "\eaf1";
}
.theme-question-i:before {
  content: "\eaf2";
}
.theme-question:before {
  content: "\eaf3";
}
.theme-radio-off-i:before {
  content: "\eaf4";
}
.theme-radio-off:before {
  content: "\eaf5";
}
.theme-radio-on-i:before {
  content: "\eaf6";
}
.theme-radio-on:before {
  content: "\eaf7";
}
.theme-rating-star-empty:before {
  content: "\eaf8";
}
.theme-rating-star-full:before {
  content: "\eaf9";
}
.theme-rating-star-half:before {
  content: "\eafa";
}
.theme-recentgames:before {
  content: "\eafb";
}
.theme-recycle-bin:before {
  content: "\eafc";
}
.theme-red-tiger:before {
  content: "\eafd";
}
.theme-referafriend:before {
  content: "\eafe";
}
.theme-refresh:before {
  content: "\eaff";
}
.theme-register:before {
  content: "\eb00";
}
.theme-regole:before {
  content: "\eb01";
}
.theme-remove-i:before {
  content: "\eb02";
}
.theme-remove:before {
  content: "\eb03";
}
.theme-responsible-i:before {
  content: "\eb04";
}
.theme-responsible:before {
  content: "\eb05";
}
.theme-right:before {
  content: "\eb06";
}
.theme-safari-add-to-home:before {
  content: "\eb07";
}
.theme-safari-share:before {
  content: "\eb08";
}
.theme-salebingo:before {
  content: "\eb09";
}
.theme-save:before {
  content: "\eb0a";
}
.theme-scratchcard:before {
  content: "\eb0b";
}
.theme-search-i:before {
  content: "\eb0c";
}
.theme-search:before {
  content: "\eb0d";
}
.theme-settings-i:before {
  content: "\eb0e";
}
.theme-settings:before {
  content: "\eb0f";
}
.theme-share-android:before {
  content: "\eb10";
}
.theme-share:before {
  content: "\eb11";
}
.theme-shoppingcart:before {
  content: "\eb12";
}
.theme-show-password:before {
  content: "\eb13";
}
.theme-slots-race-bonus:before {
  content: "\eb14";
}
.theme-slots-race-cash:before {
  content: "\eb15";
}
.theme-slots-race-coming-soon:before {
  content: "\eb16";
}
.theme-slots-race-coming-tomorrow:before {
  content: "\eb17";
}
.theme-slots-race-coming-up-today:before {
  content: "\eb18";
}
.theme-slots-race-free-spins:before {
  content: "\eb19";
}
.theme-slots-race-headline:before {
  content: "\eb1a";
}
.theme-slots-race-podium:before {
  content: "\eb1b";
}
.theme-slots-race-points:before {
  content: "\eb1c";
}
.theme-slots-race-race:before {
  content: "\eb1d";
}
.theme-slots-race-total-spins:before {
  content: "\eb1e";
}
.theme-slots:before {
  content: "\eb1f";
}
.theme-snowflake:before {
  content: "\eb20";
}
.theme-soccer:before {
  content: "\eb21";
}
.theme-sorting:before {
  content: "\eb22";
}
.theme-sound-loud:before {
  content: "\eb23";
}
.theme-sound-mute:before {
  content: "\eb24";
}
.theme-speedway:before {
  content: "\eb25";
}
.theme-sport-spin:before {
  content: "\eb26";
}
.theme-sports:before {
  content: "\eb27";
}
.theme-spot-filled:before {
  content: "\eb28";
}
.theme-star:before {
  content: "\eb29";
}
.theme-status-address:before {
  content: "\eb2a";
}
.theme-status-email:before {
  content: "\eb2b";
}
.theme-status-id:before {
  content: "\eb2c";
}
.theme-success-i:before {
  content: "\eb2d";
}
.theme-summer:before {
  content: "\eb2e";
}
.theme-support:before {
  content: "\eb2f";
}
.theme-tablegames:before {
  content: "\eb30";
}
.theme-ten-point-star:before {
  content: "\eb31";
}
.theme-ticket-i:before {
  content: "\eb32";
}
.theme-toastr-icon:before {
  content: "\eb33";
}
.theme-topgames:before {
  content: "\eb34";
}
.theme-topgames2:before {
  content: "\eb35";
}
.theme-touchfield:before {
  content: "\eb36";
}
.theme-trotting:before {
  content: "\eb38";
}
.theme-twitter-i:before {
  content: "\eb39";
}
.theme-twitter:before {
  content: "\eb3a";
}
.theme-unlocked-i:before {
  content: "\eb3b";
}
.theme-unlocked:before {
  content: "\eb3c";
}
.theme-up:before {
  content: "\eb3d";
}
.theme-upload:before {
  content: "\eb3e";
}
.theme-vegasslots:before {
  content: "\eb40";
}
.theme-verify:before {
  content: "\eb41";
}
.theme-video-camera:before {
  content: "\eb42";
}
.theme-videopoker:before {
  content: "\eb44";
}
.theme-vincitori:before {
  content: "\eb45";
}
.theme-vip:before {
  content: "\eb46";
}
.theme-virtual-motorsport:before {
  content: "\eb47";
}
.theme-virtual-soccer:before {
  content: "\eb48";
}
.theme-virtual-tennis:before {
  content: "\eb49";
}
.theme-virtualsport-football:before {
  content: "\eb4a";
}
.theme-virtualsport-racing:before {
  content: "\eb4b";
}
.theme-virtualsport-tennis:before {
  content: "\eb4c";
}
.theme-virtualsport:before {
  content: "\eb4d";
}
.theme-vistaplay:before {
  content: "\eb4e";
}
.theme-wallet:before {
  content: "\eb4f";
}
.theme-watchlist-i:before {
  content: "\eb50";
}
.theme-watchlist2:before {
  content: "\eb51";
}
.theme-wc-bet-square:before {
  content: "\eb52";
}
.theme-wc-bet:before {
  content: "\eb53";
}
.theme-wc-crack-square:before {
  content: "\eb54";
}
.theme-wc-crack:before {
  content: "\eb55";
}
.theme-wc-cup-square:before {
  content: "\eb56";
}
.theme-wc-cup:before {
  content: "\eb57";
}
.theme-wc-fav-square:before {
  content: "\eb58";
}
.theme-wc-fav:before {
  content: "\eb59";
}
.theme-wc-flying-square:before {
  content: "\eb5a";
}
.theme-wc-flying:before {
  content: "\eb5b";
}
.theme-wc-globe-square:before {
  content: "\eb5c";
}
.theme-wc-globe:before {
  content: "\eb5d";
}
.theme-whatsapp:before {
  content: "\eb5e";
}
.theme-windows8:before {
  content: "\eb5f";
}
.theme-worldcup-promo:before {
  content: "\eb60";
}
.theme-worldcup:before {
  content: "\eb61";
}
.theme-xmas-tree:before {
  content: "\eb62";
}
.theme-yahoo-sports:before {
  content: "\eb63";
}
.theme-yggdrasil:before {
  content: "\eb64";
}
.theme-cross:before {
  content: "\e1200";
}
