.form {
  display: block;
  margin: 10px 0;
}
.form__element {
  margin: 5px 0;
  position: relative;
}
.form__element > label {
  color: $formElement-label-color;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 3px;
}
.form__element input,
.form__element select,
.form__element .Select-control {
  width: 100%;
  font: inherit;
  height: 3.1em;
  line-height: 3.1em;
  background-color: $formElement-input-backgroundColor;
  border: 1px solid $formElement-input-borderColor;
  font-size: pxToPr(14px, "em", $basicFontSize);
  font-weight: 400;
  padding: 0 12px;
  outline: none;
  border-radius: 0;
  color: $formElement-input-color;
}
.form__element input:-webkit-autofill,
.form__element input:-webkit-autofill:focus,
.form__element select:-webkit-autofill,
.form__element select:-webkit-autofill:focus,
.form__element .Select-control:-webkit-autofill,
.form__element .Select-control:-webkit-autofill:focus {
  box-shadow: 0 0 0 5em $formElement-input-autofill-boxShadowColor inset;
}
.form__element select,
.form__element input,
.form__element textarea {
  outline: none;
}
.form__element select:-webkit-autofill,
.form__element input:-webkit-autofill,
.form__element textarea:-webkit-autofill {
  color: $formElement-select-autofill-color;
}
.form__element input::placeholder {
  color: $formElement-input-placeholder-color;
}
.form__element input:disabled::placeholder {
  color: $formElement-input-placeholder-disabled-color;
  opacity: 1;
}
.form__element .Select-control {
  line-height: 1.4em;
  cursor: pointer;
}
.form__element .Select-value {
  margin-left: -3px;
}
.form__element select {
  appearance: none;
  line-height: 1;
}
.form__element--select {
  font-size: pxToPr(14, "em", $basicFontSize);
}
.form__element--select:before,
.form__element--select:after {
  content: "";
  display: block;
  position: absolute;
  right: 1em;
  top: 1.42em;
  transform: translateY(-50%) translateX(50%) rotate(45deg);
  width: 1px;
  height: 10px;
  border-radius: 0;
  background-color: $formElementSelect-before-backgroundColor;
  z-index: 1;
  pointer-events: none;
}
.form__element--select:after {
  transform: translateY(-50%) translateX(-50%) rotate(-45deg);
  margin-right: 5px;
}
.form__element--select select {
  padding-right: 2.4em !important;
}
.form__element--error input,
.form__element--error select,
.form__element--error .Select-control,
.form__element--focus input,
.form__element--focus select,
.form__element--focus .Select-control,
.form__element:not(.form__element--empty) input,
.form__element:not(.form__element--empty) select,
.form__element:not(.form__element--empty) .Select-control {
  background-color: $formElementError-input-backgroundColor;
  border: 1px solid $formElementError-input-borderColor;
}
.form__element--focus input,
.form__element--focus select,
.form__element--focus .Select-control,
.form__element:not(.form__element--empty):not(.form__element--error):not(.form__element--disabled) input,
.form__element:not(.form__element--empty):not(.form__element--error):not(.form__element--disabled) select,
.form__element:not(.form__element--empty):not(.form__element--error):not(.form__element--disabled) .Select-control {
  border-color: $formElementFocus-input-borderColor;
}
.form__element select:focus,
.form__element input:focus {
  background-color: $formElement-select-focus-backgroundColor;
}
.form__element.form__element--error input,
.form__element.form__element--error select,
.form__element.form__element--error .Select-control {
  border-color: $formElement-error-input-borderColor;
}
.form .form__element--disabled > label {
  color: $form-elementDisabled-label-color;
}
.form .form__element--disabled input,
.form .form__element--disabled select {
  background-color: $form-elementDisabled-input-backgroundColor;
  color: $form-elementDisabled-input-color;
  border-color: $form-elementDisabled-input-borderColor;
}
.form__element .error-message {
  background-color: $formElement-errorMessage-backgroundColor;
  padding: 2px 10px;
  margin-top: 10px;
  color: $formElement-errorMessage-color;
}
.form__element .error-message p {
  margin: 0;
}
.form__element .error-message p + p {
  margin-top: 5px;
}
.row > div > .form__element {
  margin-top: 0;
  margin-bottom: 0;
}
.form__element--Checkbox > label {
  display: none;
}
.form__element--RadioGroup {
  margin-bottom: 16px;
  margin-top: 0;
}
.form__element--RadioGroup .radio-btn-wrap:nth-of-type(2n + 2) {
  margin-left: 40px;
}
.form__element--RadioGroup:last-of-type {
  margin-bottom: 0;
}
.form__success,
.form__error {
  font-size: pxToPr(10px, "em", $basicFontSize);
  font-weight: 400;
  background: $formSuccess-backgroundColor;
  color: $formSuccess-color;
  padding: 0.4em;
  margin: 5px 0;
  text-align: center;
  border-radius: 0;
  line-height: 1.3;
}
.form__success .icon,
.form__error .icon {
  float: left;
}
.form__error {
  background: $formError-backgroundColor;
}
