.sport-general__header {
  position: relative;
  background: $sportGeneralHeader-backgroundColor none no-repeat 150px 0;
  color: $sportGeneralHeader-color;
  font-weight: 700;
  font-size: pxToPr(36px, "em", $mainFontSize);
  line-height: 1.3;
  padding: 21px 20px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  background-size: cover;
  background-position: center center;
}
@media (max-width: $bp-mobile) {
  .sport-general__header {
    font-size: 1.15em;
    line-height: 4;
    padding: 0px 20px;
  }
}
.sport-general__header:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background: $sportGeneralHeader-after-backgroundColor;
  bottom: 18px;
  left: 20px;
}
.sport-general__header:before {
  background: $sportGeneralHeader-before-backgroundColor;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.sport-general__header span {
  position: relative;
  z-index: 1;
}
